maxWidth = 500px;

svg-red = #E74C3C;
svg-green = #2ECC71;
svg-purple = #9B59B6;


zIndex = {
    top: 1000,
    bottom: 0
}

@import url("http://fonts.googleapis.com/css?family=Open+Sans");

@import "common.styl";
@import "card.styl";
@import "hint.styl";


* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    height: 100%;
    // max-width: maxWidth;
    margin: auto;  
    font-family: "Open Sans", Verdana, sans-serif;
}
main {
    height: 100%;
}

footer {
    background: #4aa3df;
}


@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}











