
@import "elastic-in.styl";

card-margin = 10px;
card-width = 100px;
card-height = card-width*1.5;


#cards {
    // display: flex;
    // flex-wrap: wrap;
    // align-content: flex-start;
    // align-items: center;
    // justify-content: space-around;
    margin: auto;
    max-width: ((card-width + (card-margin*2)) * 4); 
    clear: both;
}
.card {
    float: left; 
    background: white;
    
    max-width: card-width;
    max-height: card-height;
    height: card-height;
    width: calc(25% - 20px);
    border-radius: 6px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    animation: elastic-in 1s both linear;
    animation-iteration-count: 1;

    transition: transform .2s ease-in-out;

    margin: card-margin;

    shape-margin-h = 14px;
    shape-margin-v = 3px;
    // shape-width = card-width - (shape-margin-h * 2);
    shape-width = 72%;
    shape-height = 25%;
    shape-stroke = 8px; // can be up to 10px (after that it gets cut off)  http://stackoverflow.com/questions/7241393/can-you-control-how-an-svgs-stroke-width-is-drawn

    &:nth-child(4n + 1){
        clear: both;
    }

    &.selected {
        box-shadow: 0px 0px 3px 2px #3498db;
        transform: scale(1.08) rotateZ(5deg);
    }

    .shape {
    	display: inline-block;
    	position: relative;

    	flex: 0 0 auto;
        width: shape-width;
        height: shape-height;
        margin-top: shape-margin-v;
        margin-bottom: shape-margin-v;

    }


    // colors
    &.red {
        path, polygon {
            stroke: svg-red;
            stroke-width: shape-stroke;
        }
        &.solid {
            path, polygon {
                fill: svg-red;
            }
        }
        &.striped {
            path, polygon {
                fill: url('#striped-red');                
            }
        }
        &.hollow {
            path, polygon {
                fill: transparent;
            }
        }


    }
    &.green {
        path, polygon {
            stroke: svg-green;
            stroke-width: shape-stroke;
        }
        &.solid {
            path, polygon {
                fill: svg-green;
            }
        }
        &.striped {
            path, polygon {
                fill: url('#striped-green');

            }
        }
        &.hollow {
            path, polygon {
                fill: transparent;
            }
        }
    }
    &.purple {
        path, polygon {
            stroke: svg-purple;
            stroke-width: shape-stroke;
        }
        &.solid {
            path, polygon {
                fill: svg-purple;
            }
        }
        &.striped {
            path, polygon {
                fill: url('#striped-purple');                
            }
        }
        &.hollow {
            path, polygon {
                fill: transparent;
            }
        }
    }


}

// http://stackoverflow.com/questions/15842224/firefox-svg-with-fillurlid-style-in-external-stylesheet-broken-inline-style
@-moz-document url-prefix() {
    .card.red.striped {
        path, polygon{
            fill: url('../img/shapes.svg#striped-red');
        }
    }
    .card.green.striped {
        path, polygon{
            fill: url('../img/shapes.svg#striped-green');
        }
    }
    .card.purple.striped {
        path, polygon{
            fill: url('../img/shapes.svg#striped-purple');
        }
    }
}

// stripies.handlebars
#striped-red rect {
    fill: svg-red;
}
#striped-green rect {
    fill: svg-green;
}
#striped-purple rect {
    fill: svg-purple;
}