
.hint {
	text-align: right;
	color: #999;
	
	a,
	a:link,
	a:visited
	a:hover,
	a:active {
		color: inherit;
		text-decoration: none;
	}
}

.hint__set-holder {
	display: inline-flex;
	vertical-align: middle;
	flex-direction: row;
	margin: 0 5px 5px;
}

.card.card--mini {
    width: 30px;
    height: 45px;
    position: relative;
    margin: 1px;
    
    .shape {
        margin: 1px 0;
    }
}